html
  head
    title Title!
    style(type='text/css').
      body {
        height: 100%;
        margin: 0;
      }
      body > div {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        font-weight: 600;
      }
      body > div:nth-child(1) {
        background: blue;
      }
      body > div:nth-child(2) {
        background: yellow;
      }
      body > div:nth-child(3) {
        background: orange;
      }


  body
    each el in [1, 2, 3, 4]
      div
        span=el
